$red:#fb0d1b;
$brick: #d4551c;
$orange: #fb8e26;
$sunset: #f9c22d;
$yellow: #fffa37;
$light-green: #8ec427;
$green: #20ad1d;
$light-blue: #1c9ec1;
$blue: #0e60b3;
$dark-blue: #051da6;
$purple: #61139b;

